<!DOCTYPE html>
<html xmlns:th="http://www.org.thymeleaf.com">
 <head th:replace="layouts::header">

    <title>Employee Form</title>
</head>
 

<body>
   <nav th:replace="layouts::navbar"></nav>
   
<br/>
      <div class="container">
           <form th:action="@{/employees/save}" method="POST" th:object="${employee}">
             <!-- <div class="form-group row"> -->
             <div>
              <!--  <input type="hidden" th:field=${employee.employeeId}/> -->
             
              <label>Employee First Name:<input type="text" placeholder="First Name" th:field="${employee.firstName}" required/></label> 
              <br/>
              <label>Employee Last Name:<input type="text" placeholder="Last Name" th:field="${employee.lastName}" required/></label>
              <br/>
              <label>Email Address:<input type="email" placeholder="xyz@gmail.com" th:field="${employee.email}" required/></label>
              <br/>
              <input type="submit" value="Submit"/>
              <!-- <input type="reset" value="Reset"/> -->
           <!-- <input type="hidden" name="_csrf" th:value="${_csrf.token}"/> -->
           </div>
          </form>
     </div>
</body>
</html>